body {
    position: relative;
}
nav {
    position: absolute;
    position: fixed;
    bottom: 100vh;
    width: max-content;
    height: max-content;
    display: inline;
}
.nav-list {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: black;
} 